{% extends "base.html" %} {% block content %}
{% if messages %} 
{% for m in messages %}

<p class="bg-success text-white p-3 mt-5 text-center">{{m}}</p>

{% endfor %}

{% endif %}


<div class='mt-5 text-center'>
  <h1>Hello: {{user.first_name}} {{user.last_name}}</h1>
    <h1 class="mt-3"> Welcome to your Profile Page </h1>


<a class="btn btn-success mt-3 " href=" {% url "updateprofile" %} ">Edit Your Information</a>

</div>


<h1 class=' mt-5 text-center border border-white rounded-5 bg-dark text-white p-3'>Bought Car List</h1>
<div class="d-flex flex-wrap justify-content-center px-5 pt-5">

  
  {% for car in data %}

  <div class="w-50" >
    <div class="card m-2 p-2"  >
      <div class="card-body text-center">
        <img src="{{car.image.url}}" class="card-img-top" alt="...">
        <h4 class="card-title mb-3">{{car.name}}</h4>
        <p class="card-text"> {{car.discription}} </p>
        <p>Price:  {{ car.price }}</p>
        <p>Brand:  {{ car.brand.name }}</p>
       
      </div>
    </div>
  </div>

    {% endfor %}

  </div>
{% endblock content %}